### Timestamp Object Attributes and Methods

In [1]:
import pandas as pd
import datetime as dt

In [2]:
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [3]:
stocks = pdr.get_data_yahoo(tickers = 'MSFT', start = '2010-01-01', end = '2020-12-31')
stocks.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  23.347322  38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  23.354858  49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  23.211535  58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  22.970140  50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  23.128553  51197400

In [4]:
stocks.index

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2020-12-16', '2020-12-17', '2020-12-18', '2020-12-21',
               '2020-12-22', '2020-12-23', '2020-12-24', '2020-12-28',
               '2020-12-29', '2020-12-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [5]:
someday = stocks.index[500]
someday

Timestamp('2011-12-27 00:00:00')

In [6]:
conditions = [someday.month,
            someday.week,
            someday.month_name(),
            someday.is_month_start,
            someday.is_month_end,
            someday.day,
            someday.day_name(), 
            someday.days_in_month,
            someday.daysinmonth]
conditions

[12, 52, 'December', False, False, 27, 'Tuesday', 31, 31]

In [7]:
stocks.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Wednesday', 'Thursday', 'Friday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Monday', 'Tuesday', 'Wednesday'],
      dtype='object', name='Date', length=2768)

In [8]:
"""loc specifies the position of the new column which is getting inserted in the DataFrame.
value can take a list, series or index"""
stocks.insert(loc = 0, column = 'Day of Week', value = stocks.index.day_name())

In [9]:
stocks.head()

,Day of Week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2010-01-04,Monday,30.620001,31.100000,30.590000,30.950001,23.347322,38409100
2010-01-05,Tuesday,30.850000,31.100000,30.639999,30.959999,23.354858,49749600
2010-01-06,Wednesday,30.879999,31.080000,30.520000,30.770000,23.211535,58182400
2010-01-07,Thursday,30.629999,30.700001,30.190001,30.450001,22.970140,50559700
2010-01-08,Friday,30.280001,30.879999,30.240000,30.660000,23.128553,51197400

In [10]:
stocks.index.is_month_start

array([False, False, False, ..., False, False, False])

In [11]:
stocks.insert(loc = 1, column = 'Is Start of Month', value = stocks.index.is_month_start)

In [12]:
stocks.tail()

,Day of Week,Is Start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2020-12-23,Wednesday,False,223.110001,223.559998,220.800003,221.020004,214.069565,18699600
2020-12-24,Thursday,False,221.419998,223.610001,221.199997,222.750000,215.745148,10550600
2020-12-28,Monday,False,224.449997,226.029999,223.020004,224.960007,217.885666,17933500
2020-12-29,Tuesday,False,226.309998,227.179993,223.580002,224.149994,217.101151,17403200
2020-12-30,Wednesday,False,225.229996,225.630005,221.470001,221.679993,214.708801,20272300

In [13]:
stocks[stocks['Is Start of Month']]

,Day of Week,Is Start of Month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,
2010-02-01,Monday,True,28.389999,28.480000,27.920000,28.410000,21.431257,85931100
2010-03-01,Monday,True,28.770000,29.049999,28.530001,29.020000,21.993780,43805400
2010-04-01,Thursday,True,29.350000,29.540001,28.620001,29.160000,22.099882,74768100
2010-06-01,Tuesday,True,25.530001,26.309999,25.520000,25.889999,19.710142,76152400
2010-07-01,Thursday,True,23.090000,23.320000,22.730000,23.160000,17.631790,92239400
...,...,...,...,...,...,...,...,...
2020-06-01,Monday,True,182.539993,183.000000,181.460007,182.830002,176.192215,22622400
2020-07-01,Wednesday,True,203.139999,206.350006,201.770004,204.699997,197.268219,32061200
2020-09-01,Tuesday,True,225.509995,227.449997,224.429993,227.270004,219.548233,25725500
2020-10-01,Thursday,True,213.490005,213.990005,211.320007,212.460007,205.241409,27158400
2020-12-01,Tuesday,True,214.509995,217.320007,213.350006,216.210007,209.410828,30904500

### The pd.DateOffset() Method

In [14]:
stocks = pdr.get_data_yahoo(tickers = 'MSFT', start = '2010-01-01', end = '2020-12-31')
stocks.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  23.347321  38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  23.354858  49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  23.211535  58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  22.970142  50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  23.128557  51197400

In [15]:
stocks.index + pd.DateOffset(days = 5)
stocks.index - pd.DateOffset(days = 5)

DatetimeIndex(['2009-12-30', '2009-12-31', '2010-01-01', '2010-01-02',
               '2010-01-03', '2010-01-06', '2010-01-07', '2010-01-08',
               '2010-01-09', '2010-01-10',
               ...
               '2020-12-11', '2020-12-12', '2020-12-13', '2020-12-16',
               '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-23',
               '2020-12-24', '2020-12-25'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [16]:
stocks.index + pd.DateOffset(years = 1, months = 3)

DatetimeIndex(['2011-04-04', '2011-04-05', '2011-04-06', '2011-04-07',
               '2011-04-08', '2011-04-11', '2011-04-12', '2011-04-13',
               '2011-04-14', '2011-04-15',
               ...
               '2022-03-16', '2022-03-17', '2022-03-18', '2022-03-21',
               '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-28',
               '2022-03-29', '2022-03-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [17]:
stocks.index + pd.DateOffset(years = 1, months = 3, days = 10, hours = 11, minutes = 11, seconds = 11)

DatetimeIndex(['2011-04-14 11:11:11', '2011-04-15 11:11:11',
               '2011-04-16 11:11:11', '2011-04-17 11:11:11',
               '2011-04-18 11:11:11', '2011-04-21 11:11:11',
               '2011-04-22 11:11:11', '2011-04-23 11:11:11',
               '2011-04-24 11:11:11', '2011-04-25 11:11:11',
               ...
               '2022-03-26 11:11:11', '2022-03-27 11:11:11',
               '2022-03-28 11:11:11', '2022-03-31 11:11:11',
               '2022-04-01 11:11:11', '2022-04-02 11:11:11',
               '2022-04-03 11:11:11', '2022-04-07 11:11:11',
               '2022-04-08 11:11:11', '2022-04-09 11:11:11'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

### TimeSeries Offsets

In [18]:
"""End of current month, unless the date is actually the end of current month. In that case, end of next-month"""
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31', '2010-01-31', '2010-01-31',
               '2010-01-31', '2010-01-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [19]:
"""If we have a date which is already the end of the month, then pandas substitutes that value with the next end-of-month
date since this date has already passed. The same logic holds good in case of start of month as well"""

stocks.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31', '2009-12-31', '2009-12-31',
               '2009-12-31', '2009-12-31',
               ...
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30', '2020-11-30', '2020-11-30',
               '2020-11-30', '2020-11-30'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [20]:
"""Beginning of the next month"""
stocks.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01', '2010-02-01', '2010-02-01',
               '2010-02-01', '2010-02-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [21]:
stocks.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01', '2020-12-01', '2020-12-01',
               '2020-12-01', '2020-12-01'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)

In [22]:
month_start = [pd.DatetimeIndex(data = ['2020-04-01']) - pd.tseries.offsets.MonthEnd(),
               pd.DatetimeIndex(data = ['2020-04-01']) + pd.tseries.offsets.MonthEnd(), 
               pd.DatetimeIndex(data = ['2020-04-01']) - pd.tseries.offsets.MonthBegin(),
               pd.DatetimeIndex(data = ['2020-04-01']) + pd.tseries.offsets.MonthBegin()]
month_start

[DatetimeIndex(['2020-03-31'], dtype='datetime64[ns]', freq=None),
 DatetimeIndex(['2020-04-30'], dtype='datetime64[ns]', freq=None),
 DatetimeIndex(['2020-03-01'], dtype='datetime64[ns]', freq=None),
 DatetimeIndex(['2020-05-01'], dtype='datetime64[ns]', freq=None)]

In [23]:
month_end = [pd.DatetimeIndex(data = ['2020-04-30']) - pd.tseries.offsets.MonthEnd(),
               pd.DatetimeIndex(data = ['2020-04-30']) + pd.tseries.offsets.MonthEnd(), 
               pd.DatetimeIndex(data = ['2020-04-30']) - pd.tseries.offsets.MonthBegin(),
               pd.DatetimeIndex(data = ['2020-04-30']) + pd.tseries.offsets.MonthBegin()]
month_end

[DatetimeIndex(['2020-03-31'], dtype='datetime64[ns]', freq=None),
 DatetimeIndex(['2020-05-31'], dtype='datetime64[ns]', freq=None),
 DatetimeIndex(['2020-04-01'], dtype='datetime64[ns]', freq=None),
 DatetimeIndex(['2020-05-01'], dtype='datetime64[ns]', freq=None)]

In [25]:
"""An easier way to use offsets"""
from pandas.tseries import offsets

In [27]:
"""Business Month Ends or Business Month Begins"""
stocks.index + offsets.BMonthEnd()

DatetimeIndex(['2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29', '2010-01-29', '2010-01-29',
               '2010-01-29', '2010-01-29',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=2768, freq=None)