### Review of the datetime Module

In [1]:
import pandas as pd
import datetime as dt

In [2]:
someday = dt.date(year = 2016, month = 4, day = 12)

In [3]:
someday.year
someday.month
someday.day
str(someday)

'2016-04-12'

In [4]:
str(dt.datetime(year = 2016, month = 4, day = 12, hour = 8, minute = 13, second = 49))

'2016-04-12 08:13:49'

In [5]:
sometime = dt.datetime(year = 2016, month = 4, day = 12, hour = 8, minute = 13, second = 49)
sometime.year
sometime.hour
sometime.minute
sometime.microsecond

0

### Pandas Timestamp Object

In [6]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2015/11/04")
pd.Timestamp('1/15/2015')
# pd.Timestamp('19/12/2015')
pd.Timestamp('2021-01-09 8:35:04 PM')

Timestamp('2021-01-09 20:35:04')

In [7]:
pd.Timestamp(dt.date(2015, 1, 1))

Timestamp('2015-01-01 00:00:00')

### Pandas DateTimeIndex Object

In [8]:
dates = ['2016/01/02', '2016/04/12', '2016/09/07']
pd.DatetimeIndex(data = dates)

DatetimeIndex(['2016-01-02', '2016-04-12', '2016-09-07'], dtype='datetime64[ns]', freq=None)

In [9]:
dates = [dt.date(2016, 1, 1), dt.date(1994, 6, 13), dt.date(2020, 1, 12)]
dateIndex = pd.DatetimeIndex(data = dates)

In [10]:
values = [100, 200, 400]
pd.Series(data = values, index = dateIndex)

2016-01-01    100
1994-06-13    200
2020-01-12    400
dtype: int64

### The pd.to_datetime() Method

In [11]:
pd.to_datetime('2001-04-19 8:34 PM')

Timestamp('2001-04-19 20:34:00')

In [12]:
pd.to_datetime(dt.date(2001, 1, 9))

Timestamp('2001-01-09 00:00:00')

In [13]:
pd.to_datetime(['2001-01-09', '2004/01/12', '2005', 'July 4th 1996'])

DatetimeIndex(['2001-01-09', '2004-01-12', '2005-01-01', '1996-07-04'], dtype='datetime64[ns]', freq=None)

In [14]:
pd.to_datetime('2001 01 09')

Timestamp('2001-01-09 00:00:00')

In [15]:
times = pd.Series(['2001-01-09', '2004/01/12', '2005', 'July 4th 1996'])
pd.to_datetime(arg = times)

0   2001-01-09
1   2004-01-12
2   2005-01-01
3   1996-07-04
dtype: datetime64[ns]

In [16]:
dates = pd.Series(["July 4th 1996", 'October 4th 1991', 'Hello World', '2001-02-31'])
"""NAT = Not A Time"""
pd.to_datetime(arg = dates, errors = 'coerce')

0   1996-07-04
1   1991-10-04
2          NaT
3          NaT
dtype: datetime64[ns]

In [17]:
pd.to_datetime(arg = dates, errors = 'ignore')

0       July 4th 1996
1    October 4th 1991
2         Hello World
3          2001-02-31
dtype: object

### Create Date Ranges with pd.date_range() Method

In [36]:
times = pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'd' )
"""Generates dates between the start date and the end date and the frequency being days. Other values which can be given 
to the frequency argument are h(hours) and s(seconds)"""
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [30]:
type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [43]:
pd.date_range(start = '2001-01-01', periods = 10, freq = 'D')
"""Out of the 3 arguments (start, end, periods) in the date_range(), 2 of them have to be specified to get the desired output"""
pd.date_range(end = '2001-01-01', periods = 10, freq = 'D')

DatetimeIndex(['2000-12-23', '2000-12-24', '2000-12-25', '2000-12-26',
               '2000-12-27', '2000-12-28', '2000-12-29', '2000-12-30',
               '2000-12-31', '2001-01-01'],
              dtype='datetime64[ns]', freq='D')

In [45]:
"""If a number is mentioned along with 'd', 'h' or 's' in the frequency argument, it will work as shown below"""
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = '2d' )

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [50]:
"""B is used to include only business dates in the range, thus excluding weekends"""
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'B' )

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [51]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = 'W' )

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [53]:
pd.date_range(start = '2016-01-01', end = '2016-01-15', freq = 'W-FRI' )

DatetimeIndex(['2016-01-01', '2016-01-08', '2016-01-15'], dtype='datetime64[ns]', freq='W-FRI')

In [59]:
pd.date_range(start = '2016-01-01', end = '2016-01-10', freq = '6h' )

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [69]:
pd.date_range(start = '2016-01-01', end = '2017-01-10', freq = 'M' )  # Includes only month ends in the range
pd.date_range(start = '2016-01-01', end = '2017-01-10', freq = 'MS' ) # Includes month starts in the range

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [76]:
pd.date_range(start = '2016-01-01', end = '2050-01-10', freq = 'A' )   # Includes only year ends in the range
pd.date_range(start = '2016-01-01', end = '2050-01-10', freq = 'AS' )  # Includes only year starts in the range

DatetimeIndex(['2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01',
               '2020-01-01', '2021-01-01', '2022-01-01', '2023-01-01',
               '2024-01-01', '2025-01-01', '2026-01-01', '2027-01-01',
               '2028-01-01', '2029-01-01', '2030-01-01', '2031-01-01',
               '2032-01-01', '2033-01-01', '2034-01-01', '2035-01-01',
               '2036-01-01', '2037-01-01', '2038-01-01', '2039-01-01',
               '2040-01-01', '2041-01-01', '2042-01-01', '2043-01-01',
               '2044-01-01', '2045-01-01', '2046-01-01', '2047-01-01',
               '2048-01-01', '2049-01-01', '2050-01-01'],
              dtype='datetime64[ns]', freq='AS-JAN')

### date_range() Method Part 2

In [80]:
"""periods represents the number of results we want to get"""
pd.date_range(start = '2002-03-09', periods = 10)

DatetimeIndex(['2002-03-09', '2002-03-10', '2002-03-11', '2002-03-12',
               '2002-03-13', '2002-03-14', '2002-03-15', '2002-03-16',
               '2002-03-17', '2002-03-18'],
              dtype='datetime64[ns]', freq='D')

In [81]:
"""Includes only 10 Business Dates after 2002-03-09"""
pd.date_range(start = '2002-03-09', periods = 10, freq = 'B')

DatetimeIndex(['2002-03-11', '2002-03-12', '2002-03-13', '2002-03-14',
               '2002-03-15', '2002-03-18', '2002-03-19', '2002-03-20',
               '2002-03-21', '2002-03-22'],
              dtype='datetime64[ns]', freq='B')

In [83]:
"""Generates 10 weeks after the start date"""
pd.date_range(start = '2002-03-09', periods = 10, freq = 'W')

DatetimeIndex(['2002-03-10', '2002-03-17', '2002-03-24', '2002-03-31',
               '2002-04-07', '2002-04-14', '2002-04-21', '2002-04-28',
               '2002-05-05', '2002-05-12'],
              dtype='datetime64[ns]', freq='W-SUN')

In [85]:
pd.date_range(start = '2002-03-09', periods = 10, freq = 'W-MON')

DatetimeIndex(['2002-03-11', '2002-03-18', '2002-03-25', '2002-04-01',
               '2002-04-08', '2002-04-15', '2002-04-22', '2002-04-29',
               '2002-05-06', '2002-05-13'],
              dtype='datetime64[ns]', freq='W-MON')

In [86]:
pd.date_range(start = '2002-03-09', periods = 10, freq = 'M')

DatetimeIndex(['2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30',
               '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31',
               '2002-11-30', '2002-12-31'],
              dtype='datetime64[ns]', freq='M')

In [88]:
pd.date_range(start = '2002-03-09', periods = 10, freq = 'MS')

DatetimeIndex(['2002-04-01', '2002-05-01', '2002-06-01', '2002-07-01',
               '2002-08-01', '2002-09-01', '2002-10-01', '2002-11-01',
               '2002-12-01', '2003-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [89]:
pd.date_range(start = '2002-03-09', periods = 10, freq = 'H')

DatetimeIndex(['2002-03-09 00:00:00', '2002-03-09 01:00:00',
               '2002-03-09 02:00:00', '2002-03-09 03:00:00',
               '2002-03-09 04:00:00', '2002-03-09 05:00:00',
               '2002-03-09 06:00:00', '2002-03-09 07:00:00',
               '2002-03-09 08:00:00', '2002-03-09 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [92]:
pd.date_range(start = '2002-03-09', periods = 10, freq = '2H')

DatetimeIndex(['2002-03-09 00:00:00', '2002-03-09 02:00:00',
               '2002-03-09 04:00:00', '2002-03-09 06:00:00',
               '2002-03-09 08:00:00', '2002-03-09 10:00:00',
               '2002-03-09 12:00:00', '2002-03-09 14:00:00',
               '2002-03-09 16:00:00', '2002-03-09 18:00:00'],
              dtype='datetime64[ns]', freq='2H')