### Create Ranges of Dates with pd.date_range() Method Part 3

In [1]:
import pandas as pd
import datetime as dt

In [2]:
pd.date_range(end = '2002-03-10', periods = 10) #Default value for the freq parameter is "D" (Considers Days)

DatetimeIndex(['2002-03-01', '2002-03-02', '2002-03-03', '2002-03-04',
               '2002-03-05', '2002-03-06', '2002-03-07', '2002-03-08',
               '2002-03-09', '2002-03-10'],
              dtype='datetime64[ns]', freq='D')

In [3]:
pd.date_range(end = '2002-03-10', periods = 10, freq = 'M') #Defaults to month ends

DatetimeIndex(['2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31',
               '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31',
               '2002-01-31', '2002-02-28'],
              dtype='datetime64[ns]', freq='M')

In [4]:
pd.date_range(end = '2002-03-10', periods = 10, freq = 'MS')  #Considers start of month

DatetimeIndex(['2001-06-01', '2001-07-01', '2001-08-01', '2001-09-01',
               '2001-10-01', '2001-11-01', '2001-12-01', '2002-01-01',
               '2002-02-01', '2002-03-01'],
              dtype='datetime64[ns]', freq='MS')

In [5]:
pd.date_range(end = '2002-03-10', periods = 10, freq = 'B')

DatetimeIndex(['2002-02-25', '2002-02-26', '2002-02-27', '2002-02-28',
               '2002-03-01', '2002-03-04', '2002-03-05', '2002-03-06',
               '2002-03-07', '2002-03-08'],
              dtype='datetime64[ns]', freq='B')

### The .dt Accessor

In [6]:
dates = pd.date_range(start = '2000-01-01', end = '2010-12-31', freq = '24D')

In [7]:
series = pd.Series(data = dates)

In [8]:
series.head()

0   2000-01-01
1   2000-01-25
2   2000-02-18
3   2000-03-13
4   2000-04-06
dtype: datetime64[ns]

In [9]:
series.dt.day.head()

0     1
1    25
2    18
3    13
4     6
dtype: int64

In [10]:
series.dt.day_name().head()

0    Saturday
1     Tuesday
2      Friday
3      Monday
4    Thursday
dtype: object

In [11]:
condition = series.dt.is_quarter_start
series[condition]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [12]:
month_condition = series.dt.is_month_start
series[month_condition]

0     2000-01-01
19    2001-04-01
38    2002-07-01
104   2006-11-01
109   2007-03-01
137   2009-01-01
142   2009-05-01
dtype: datetime64[ns]

### Importing Financial Datasets using pandas_datareader library

In [13]:
from pandas_datareader import data as pdr
import yfinance as yf
yf.pdr_override()

In [14]:
stocks = pdr.get_data_yahoo('MSFT', start = '2010-01-01', end = '2020-12-31')
stocks.head()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.100000  30.590000  30.950001  23.347311  38409100
2010-01-05  30.850000  31.100000  30.639999  30.959999  23.354866  49749600
2010-01-06  30.879999  31.080000  30.520000  30.770000  23.211535  58182400
2010-01-07  30.629999  30.700001  30.190001  30.450001  22.970148  50559700
2010-01-08  30.280001  30.879999  30.240000  30.660000  23.128551  51197400

In [15]:
stocks.loc[pd.Timestamp("2010-01-04")]

stocks.iloc[0]

Open         3.062000e+01
High         3.110000e+01
Low          3.059000e+01
Close        3.095000e+01
Adj Close    2.334731e+01
Volume       3.840910e+07
Name: 2010-01-04 00:00:00, dtype: float64

In [16]:
stocks.loc[['2010-01-04', '2010-01-05']]

                 Open  High        Low      Close  Adj Close    Volume
Date
2010-01-04  30.620001  31.1  30.590000  30.950001  23.347311  38409100
2010-01-05  30.850000  31.1  30.639999  30.959999  23.354866  49749600

In [17]:
stocks.loc['2013-10-01':'2013-10-07']

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-10-01  33.349998  33.610001  33.299999  33.580002  27.910889  36718700
2013-10-02  33.360001  34.029999  33.290001  33.919998  28.193481  46946800
2013-10-03  33.880001  34.000000  33.419998  33.860001  28.143608  38703800
2013-10-04  33.689999  33.990002  33.619999  33.880001  28.160234  33008100
2013-10-07  33.599998  33.709999  33.200001  33.299999  27.678156  35069300

In [18]:
stocks.truncate(before = '2013-10-01', after = '2013-10-07')

                 Open       High        Low      Close  Adj Close    Volume
Date
2013-10-01  33.349998  33.610001  33.299999  33.580002  27.910889  36718700
2013-10-02  33.360001  34.029999  33.290001  33.919998  28.193481  46946800
2013-10-03  33.880001  34.000000  33.419998  33.860001  28.143608  38703800
2013-10-04  33.689999  33.990002  33.619999  33.880001  28.160234  33008100
2013-10-07  33.599998  33.709999  33.200001  33.299999  27.678156  35069300

In [19]:
birthday_stock_values = pdr.get_data_yahoo(tickers = 'JPM', start = '2002-03-09', end = '2024-03-09')

[*********************100%***********************]  1 of 1 completed

In [20]:
birthday_dates = pd.date_range(start = '2002-03-09', end = '2024-03-09', freq = pd.DateOffset(years = 1))
birthday_dates

DatetimeIndex(['2002-03-09', '2003-03-09', '2004-03-09', '2005-03-09',
               '2006-03-09', '2007-03-09', '2008-03-09', '2009-03-09',
               '2010-03-09', '2011-03-09', '2012-03-09', '2013-03-09',
               '2014-03-09', '2015-03-09', '2016-03-09', '2017-03-09',
               '2018-03-09', '2019-03-09', '2020-03-09', '2021-03-09',
               '2022-03-09', '2023-03-09', '2024-03-09'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [21]:
condition = birthday_stock_values.index.isin(birthday_dates)
birthday_stock_values[condition]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2004-03-09,42.939999,42.939999,42.290001,42.470001,24.159285,9036700
2005-03-09,36.730000,36.820000,36.340000,36.470001,21.465214,17648000
2006-03-09,41.500000,41.740002,40.959999,41.049999,25.100662,9767500
2007-03-09,49.119999,49.349998,48.529999,48.820000,30.775656,9452900
2009-03-09,15.370000,17.290001,15.020000,15.900000,10.757875,132882900
2010-03-09,42.389999,42.820000,42.049999,42.419998,28.863968,37107100
2011-03-09,46.330002,47.099998,46.020000,46.560001,31.837275,25174700
2012-03-09,40.750000,41.439999,40.500000,41.029999,28.837313,33494200
2015-03-09,60.840000,61.630001,60.799999,61.500000,46.954121,13001500
2016-03-09,59.150002,59.540001,58.680000,59.119999,46.373028,13238800
2017-03-09,91.599998,92.139999,91.150002,91.570000,73.857986,13726200
2018-03-09,116.550003,118.080002,115.669998,118.040001,97.349068,15366600
2020-03-09,96.570000,99.230003,93.000000,93.440002,81.385651,40352000
2021-03-09,151.500000,154.250000,149.820007,151.830002,137.151855,16238800
2022-03-09,132.899994,135.240005,132.440002,133.440002,123.418533,17536200
2023-03-09,136.759995,137.350006,129.220001,130.339996,124.528473,25888100