In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('bigmac.csv', parse_dates= ['Date'])
data.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    datetime64[ns]
 1   Country              652 non-null    object
 2   Price in US Dollars  652 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

In [4]:
data.nunique()
'''Column with smaller number of unique values
will be the outer index in case of MultiIndexing'''

'Column with smaller number of unique values\nwill be the outer index in case of MultiIndexing'

In [5]:
data.set_index(keys = ['Date', 'Country'], inplace = True)
data.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [6]:
data.sort_index(inplace = True)
data.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [7]:
data.index
data.index.names
(data.index.names[0], data.index.names[1])

('Date', 'Country')

In [8]:
type(data.index)

pandas.core.indexes.multi.MultiIndex

In [9]:
data.index[0]
type(data.index[0])

tuple

### Extract Index Level Values with get_level_values() Method

In [14]:
data = pd.read_csv('bigmac.csv', parse_dates = ['Date'], index_col = ['Date', 'Country'])
data.sort_index(inplace = True)
data.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [22]:
'''It can take either the name of the level which we want to extract,
or the index position of the level which we want to extract'''

data.index.get_level_values(level = 'Date')
data.index.get_level_values(level = 0)

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [23]:
'''1 refers to the level at the index position 1 (Country)'''

data.index.get_level_values(level = 'Country')
data.index.get_level_values(level = 1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)