### Inner Joins

In [1]:
import pandas as pd

In [2]:
week1 = pd.read_csv('Restaurant - Week 1 Sales.csv')
week2 = pd.read_csv('Restaurant - Week 2 Sales.csv')
customers = pd.read_csv('Restaurant - Customers.csv')
foods = pd.read_csv('Restaurant - Foods.csv')

In [15]:
# pd.merge(left = week1, right = week2, how = 'inner', on = 'Customer ID')
week1.merge(right = week2, how = 'inner', on = 'Customer ID', suffixes = [' - Week1', ' - Week2'] ).head()

   Customer ID  Food ID - Week1  Food ID - Week2
0          537                9                5
1          155                9                3
2          155                1                3
3          503                5                8
4          503                5                9