### Create a Series from a Python List

In [1]:
import pandas as pd

In [2]:
ice_cream = ['chocolate', 'vanilla', 'starwberry', 'rum raisin']
index = [2,3,4,5]
pd.Series(ice_cream)

0     chocolate
1       vanilla
2    starwberry
3    rum raisin
dtype: object

In [3]:
lottery = [56,45,98,10,23,87]
pd.Series(lottery)

0    56
1    45
2    98
3    10
4    23
5    87
dtype: int64

In [4]:
registrations = [True, False, True, True, False]
pd.Series(registrations)

0     True
1    False
2     True
3     True
4    False
dtype: bool

### Creating a Series from a Dictionary

In [5]:
webster = {
    "Lion": "Animal",
    "Banana": "A fruit",
    "Blue": "Color"
}
pd.Series(webster)

Lion       Animal
Banana    A fruit
Blue        Color
dtype: object

### Attributes and Methods

In [6]:
about_me = ['Hardworking', 'Efficient', 'Talented', 'Passionate']
Series = pd.Series(about_me)

In [7]:
print(Series.values)
print(Series.index)

['Hardworking' 'Efficient' 'Talented' 'Passionate']
RangeIndex(start=0, stop=4, step=1)

In [8]:
Series.dtype

dtype('O')

In [9]:
prices = [3.14, 1.99, 2.45]
price_series = pd.Series(prices)

In [10]:
price_series.sum()

7.58

In [11]:
price_series.count()

3

In [12]:
price_series.product()

15.309070000000002

In [13]:
price_series.mean()

2.526666666666667

In [14]:
price_series.median()

2.45

In [15]:
price_series.mode()

0    1.99
1    2.45
2    3.14
dtype: float64

### Parameters and Arguments

In [16]:
fruits = ['Apple', 'Orange', 'Banana', 'Kiwi', 'Lime']
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

pd.Series(data = fruits, index = weekdays)

Monday        Apple
Tuesday      Orange
Wednesday    Banana
Thursday       Kiwi
Friday         Lime
dtype: object

In [17]:
fruits = ['Apple', 'Orange', 'Banana', 'Kiwi', 'Lime', 'Watermelon']
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday']

pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday        Banana
Thursday           Kiwi
Friday             Lime
Monday       Watermelon
dtype: object