### Inplace

In [1]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

In [2]:
pokemon = pd.read_csv('pokemon.csv', usecols = ['Pokemon'], squeeze = True)
google = pd.read_csv('google_stock_price.csv', squeeze = True)

In [3]:
google.head()

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64

In [4]:
google.sort_values(ascending = False, inplace = True)
google.head()

3011    782.22
2859    776.60
3009    773.18
3007    772.88
3010    771.61
Name: Stock Price, dtype: float64

### Sort Index

In [5]:
pokemon.sort_values(ascending = False, inplace = True)
pokemon.head(3)

717     Zygarde
633    Zweilous
40        Zubat
Name: Pokemon, dtype: object

In [6]:
pokemon.sort_index(ascending = True, inplace = True)
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

### In keyword

In [7]:
4 in [1,2,3,4,5]

True

In [8]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [9]:
"Bulbasaur" in pokemon

False

In [10]:
print("Bulbasaur" in pokemon.values)
print("Pikachu" in pokemon.values)

True
True

In [11]:
print(100 in pokemon)
print(100 in pokemon.index)

True
True

### Exteact Values by Position

In [12]:
pokemon = pd.read_csv('pokemon.csv', usecols = ['Pokemon'], squeeze = True)
google = pd.read_csv('google_stock_price.csv', squeeze = True)

In [13]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [28]:
print(pokemon[10])
print(pokemon[[10,20]])

Metapod
10    Metapod
20    Spearow
Name: Pokemon, dtype: object

In [30]:
print(pokemon[0:10])

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object